{% extends "::layout.html.twig"%}

{% block body %}
    {{ parent() }}
    
    <h1>Bienvenido</h1>
    <p>
        Hola <span class="label label-primary">{{ app.session.get('nombre') }}</span>
        <input name="hola" value="" id="hola">
    </p>
    <p><a href="{{ path('ninfac_logout') }}">Salir</a></p>
{% endblock %}